header{
    display: flex;
}
#profile{
    /* display: inline-block; */
    width: 3.3vw;
    height: 4vw;
    border-radius: 50%;
    margin: 2vw 1vw 1vw 1vw;
    position: absolute;
    border: 0.1vw solid #000;
    transition: transform .2s;
}
#profile:hover{
    transform: scale(1.4);
}
header h1{
    margin:2.6vw 0vw 1vw 5vw;
    position: absolute;
    color: white;
    font-size: 2vw;
font-weight: bold;
-webkit-text-stroke-width: 0.05vw;
  -webkit-text-stroke-color: black;
}
#cover{
    width: 100%;
    height: 8vw;
    border: 0.16vh solid #000;
}
header h2{
    margin:4.5vw 0vw 1vw 5vw;
    position: absolute;
    color: white;
    font-size: 1vw;
}
body{
    background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main div{
    background-image: linear-gradient(to top, #1a1b1f, #212528);
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    height: 21vw;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 0.1vh 0.1vh rgb(255 255 255 / 20%);
    border: 0.1vh solid #000;
    
}
.bio{
    position: relative;
    padding-top: 1vw;
    padding-left: 1vw;
    z-index: 2;
    display: flex;
    margin-top: 1vw;
    font-size: 1.2vw;
}
.bioP{
    position: relative;
    padding-left: 9vw;
   z-index: 2;
   color: white;
   display: flex;
   font-size: 1vw;
}
main{
    position: relative;
    padding-top: 1vw;
    color: #EEEDE7;
    
}
section{
    color: black;
    margin-top: 1vw;
}
section p{
    font-size: 1.5vw;
    
    text-align: center;

}
section ol li{
    font-size: 1vw;
    padding-top: 1vw;
    /* margin-left: 45vw; */
    margin-left: 6vw;
    margin-right: 6vw;
    
    
}
section ol{
    padding-bottom: 2vw;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-left: 2vw; */
}
section ol img{
    width: 16vw;
height: 10vw;
padding-top: 1vw;

/* }
section ol img:hover{
    opacity: 0.3;
    transform: scale(1.4);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
} */
